
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Josefin+Sans');
.Intro{
	z-index: 20px;
	padding: 0;
	margin: 0;
}
.IntroOver{
	background-color: #FDD835;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	opacity: 0.7;
}
.IntroMessage{
	text-align: center;
	font-family: 'Fjalla One', sans-serif;
	margin-top:20%;
	font-size: 3vw;
}

.IntroSubMessage{
	text-align: center;
font-family: 'Josefin Sans', sans-serif;
	margin-top:20%;
	font-size: 1.5vw;
}
.MessageDiv{
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
}
.ButtonDiv{
	position: absolute;
	top: 10;
}
.Button{
	width: 8vw;
	height: 3vw;
	margin-top: 20%;
	background-color: #1A237E;
	color: white;
	border: none;
	border-radius: 5px;
}